@media (max-width: 1200px) {
  .categories__items {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
@media (max-width: 1136px) {
  .slider__item {
    width: 400px !important;
  }
  .news__items {
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .news__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .news__item {
    width: 100%;
  }
  .footer__top-inner {
    flex-wrap: wrap;
  }
  .footer__top-item {
    width: 100%;
    text-align: center;
  }
  .footer-social {
    text-align: center;
  }
  .footer__top-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .catalog__inner {
    flex-wrap: wrap;
  }
  .catalog__aside {
  }
  .darkmode-toggle {
    top: 60px !important;
    left: 0px !important;
    background-color: transparent !important;
    width: 40px !important;
    height: 40px !important;
    transition: all 0.3s ease-in-out;
  }
  .categories__items {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .categories__item-picture {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .catalog__filter-items button {
    padding: 0;
  }
}
@media (max-width: 424px) {
  .slider__item.slider__item--sale .sale__text {
    top: 0px;
    right: 80px;
  }
  .sale__item-img {
    width: 270px;
    height: 270px;
  }
  .sale__prices {
    justify-content: center;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__bottom-link:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 350px) {
  .sale__prices {
    justify-content: flex-start;
  }
  .sale__item-img {
    width: 200px;
    height: 200px;
  }
  .slider__item.slider__item--sale .sale__text {
    top: 0px;
    right: 130px;
  }
  .sale__item-name {
    text-align: left;
  }
  .sale__link {
    font-size: 16px;
    line-height: 18px;
  }
}
